@model B2CIdTokenBuilder.Models.TokenGenerationResult

<hr />

<p><strong>Azure AD B2C Link:</strong></p>
<p style="overflow-wrap: break-word"><a href="@Model.InviteLink" target="_blank">@Model.InviteLink</a></p>

<p><strong>Token:</strong></p>
<pre>@Model.TokenData</pre>

<hr />